---
import { Loader as LoaderDs } from "@navikt/ds-react";
import styles from "./Loader.module.css";
---

<div class={styles.loading}>
  <LoaderDs id="loader" size="3xlarge" title="venter..." />
</div>
