---
import { text } from '@language/text.ts';
import { Alert, BodyLong } from '@navikt/ds-react';
import { type Language } from '../../language/language';
import styles from './Error.module.css';

interface Props {
  language: Language;
}
const { language } = Astro.props;
---

<div class={styles.error}>
  <Alert variant="error">
    <BodyLong>{text.errorText[language]}</BodyLong>
  </Alert>
</div>
