---
import Layout from "@layouts/Layout.astro"
import { baseUrl } from "@src/urls";
import KattIBoks from "@img/KattIBoks";
import { BodyLong, Heading } from "@navikt/ds-react";
import { text } from "@language/text";
---

<Layout title="Utkast">
  <div class="container">
    <Heading size={"xlarge"}>{text.errorHeading["en"]}</Heading>
    <KattIBoks alt={text.errorKitten["en"]} />
    <BodyLong>
      <strong>{text.errorText["en"]}</strong>
    </BodyLong>
    <BodyLong>
      {text.errorHelp["en"]} <a href={baseUrl}>{text.minSide["en"]}</a>
    </BodyLong>
  </div>
</Layout>

<style>
  .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  text-align: center;
  margin-top: 50px;
  color: var(--a-text-default);
  }

  .container h1 {
  margin-bottom: 30px;
  }

  .container a {
  color: var(--a-text-default);
  }
</style>