---
import Layout from "@layouts/Layout.astro"
import { baseUrl } from "@src/urls";
import KattIBoks from "@img/KattIBoks";
import { BodyLong, Heading } from "@navikt/ds-react";
import { text } from "@language/text";
import styles from "./_error.module.css";
import { getLanguage } from "../language/language";
import LanguageRedirecter from "@language-redirecter/LanguageRedirecter"

const language = getLanguage(Astro.url)
---

<Layout title="Utkast" breadcrumbs={[]}>
    <div class={styles.container}>
      <Heading size={"xlarge"}>{text.errorHeading["nb"]}</Heading>
      <KattIBoks alt={text.errorKitten["nb"]} />
      <BodyLong>
        <strong>{text.errorText["nb"]}</strong>
      </BodyLong>
      <BodyLong>
        {text.errorHelp["nb"]} <a href={baseUrl}>{text.minSide["nb"]}</a>
      </BodyLong>
    </div>
</Layout>
<LanguageRedirecter client:only="react" language={language}/>